@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_LayoutPageTreeTable.cshtml";
}

<!--弹出层-->
<div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modifyContent">
            @*@Html.Partial("Edit")*@
        </div>
    </div>
</div>